:root {
  --page-bg-color: #fff;
  --page-fg-color: #15141a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #23222b;
    --page-fg-color: #fbfbfe;
  }
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-fg-color);
  font-family: sans-serif;
}

div.checkbox {
  display: flex;
  margin: 4px 0px;
}
div.checkbox input {
  margin: 2px 6px 2px 0px;
}
div.checkbox label {
  margin: 1px 0px;
}

tr.whitelisted {
  background-color: #00FF0033;
}
td {
  padding: 0.5ex 0.8ex 0.5ex 0.8ex;
}
